/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  color: var(--accent-color);
  font-family: var(--main_font), sans-serif;
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed;
  font-variation-settings: "wght" var(--main_text_weight);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 22px;
  width: 100%;
  margin: 0 auto;
  margin-block-start: 100px;
  border: 2px solid var(--accent-color);
  padding-block-start: clamp(7.5rem, 6.25rem + 4vw, 8.5rem);
  padding-block-end: 25px;
  font-family: var(--accent_font), fantasy;
  text-transform: uppercase;
  background-color: var(--background-color);
}

.header_link {
  padding-inline: clamp(0.875rem, -1.477rem + 10.009vw, 7.531rem);
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-decoration: none;
}

.header_title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.theme-menu {
  font-size: 14px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 11px;
  margin-inline-start: 20px;
}

.theme-menu__button {
  position: relative;
  border: none;
  text-transform: uppercase;
  background-color: transparent;
}

.theme-menu__button:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.theme-menu__button:disabled {
  pointer-events: none;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  margin-inline-start: -19px;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}
.theme-menu__button:focus-visible {
  outline: none;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.theme-menu__button::after {
  content: "";
  width: 88%;
  height: 2px;
  transform: scaleX(0);
  position: absolute;
  background-color: var(--accent-color);
  bottom: -2px;
  right: 0;
  opacity: 0.6;
  transform-origin: left;
  transition: transform 0.3s linear;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.article {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-inline: auto;
  margin-block-end: 50px;
  background-color: var(--background-color);
}

.article:first-child {
  margin-block-start: 100px;
}

.article-title {
  padding-block-start: 5px;
  padding-inline: 10px;
  border: 2px solid var(--accent-color);
  font-size: 18px;
  font-variation-settings: "wght" var(--title-weight);
  letter-spacing: 0.2px;
  line-height: 22px;
}

.article__img {
  position: relative;
  width: 100%;
  border: 2px solid var(--accent-color);
  perspective: 1000px;
  aspect-ratio: 1 / 1;
}

.image {
  display: block;
  position: relative;
  max-width: 100%;
  height: 101%;
  object-fit: cover;
  object-position: center;
}

.watermark {
  position: absolute;
  inset: 25px 25px auto auto;
  color: var(--accent-color);
  font-size: 14px;
  font-family: var(--accent_font), fantasy;
  text-shadow: 1px 1px var(--watermark_shadow),
  -1px -1px var(--watermark_shadow);
  mix-blend-mode: hard-light;
  text-transform: uppercase;
}

.content {
  border: 2px solid var(--accent-color);
}

.paragraphs {
  display: flex;
  flex-direction: column;
  margin: 25px 31px auto 25px;
  gap: 27px;
}

.paragraph {
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.6px;
  text-align: left;
}

.buttons-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: stretch;
  margin-block-start: 24px;
  margin-block-end: 26px;
  margin-inline-end: 25px;
}

.button {
  position: relative;
  background-color: var(--background-color);
  border: 2px solid var(--accent-color);
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  font-family: var(--accent_font), fantasy;
  transition: border 0.3s ease;
}

.card__icon {
  width: 43px;
  border: 2px solid transparent;
}

.card__icon:focus-visible {
  outline: none;
  border: 2px solid var(--accent-color);
  transition: border-color 0.3s ease;
}

.like-icon {
  position: absolute;
  inset: 0px;
}

svg {
  height: 36px;
}

.card__like {
  min-inline-size: 130px;
  padding: 11px;
  line-height: 90%;
}

.button__text {
  position: relative;
  color: var(--color-invers);
  font-size: 14px;
  mix-blend-mode: difference;
}

.is_filled {
  position: relative;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}

.is_filled:before {
  content: "";
  position: absolute;
  inset: 0;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  background-color: var(--accent-color);
}

.is_filled:hover:before {
  transform: translateX(0%);
}

.is_filled:focus-visible {
  box-shadow: 2px 2px var(--accent-color);
}

.button:focus, .button:focus-visible {
  outline: none;
}

.save_memory {
  margin: 0 auto;
}

.card_save {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding-block: 12px;
  padding-inline: 18px;
  gap: 9px;
  margin-block-end: 100px;
}

.card_save svg {
  width: 28px;
}

.floppy_box {
  position: relative;
  height: 100%;
  fill: var(--color-invers);
  z-index: 1;
  mix-blend-mode: difference;
}

.dialog_floppy {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

dialog {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: fixed;
  width: clamp(21.3125rem, 21.0484rem + 1.1268vw, 22.0625rem);
  padding: 30px 40px;
  gap: 30px;
  inset: 0;
  color: var(--accent-color);
  background-color: var(--background-color);
}

dialog:not([open]) {
  opacity: 0;
  pointer-events: none;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog_text {
  font-size: 14px;
  font-family: var(--accent_font), fantasy;
  line-height: 150%;
  text-transform: uppercase;
}

dialog .card_save {
  width: 100%;
  margin: 0 0;
}

dialog .button__text {
  margin: 0px;
  text-transform: uppercase;
}

dialog svg {
  width: 82px;
}

.awareness {
  filter: saturate(1.9);
}

.adoption {
  filter: sepia(1);
}

.phew:hover {
  filter: invert(1);
}

.golden_mean {
  filter: opacity(0.4);
}

.support {
  filter: blur(50px);
}

.support:hover {
  filter: blur(0px);
}

.reflection {
  filter: brightness(0.5) contrast(1);
}

.way_warrior {
  filter: grayscale(0.9);
}

@media (width>375px) {
  .header {
    width: var(--window_width);
  }
  .article {
    width: var(--window_width);
  }
  .save_memory {
    width: var(--window_width);
  }
  .card_save {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 9px;
  }
  .card_save svg {
    align-self: center;
  }
}

@supports (
  (text-stroke: 1px var(--watermark_shadow)) or
    (-webkit-text-stroke: 1px var(--watermark_shadow))
) {
  .watermark {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--watermark_shadow);
    text-stroke: 1px var(--watermark_shadow);
  }
}

@supports (font-variation-settings: normal) {
  .page {
    font-variation-settings: "wght" var(--main_text_weight);
  }

  .article-title {
    font-variation-settings: "wght" var(--title-weight);
  }
}